.photo-grid {
    width: 1184px;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    margin: 0 auto 92px;
    padding: 0;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .photo-grid {
        width: 942px;
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .photo-grid {
        width: 720px;
        gap: 16px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .photo-grid {
        width: 288px;
        gap: 12px;
        margin-bottom: 64px;
    }
}