.places {
    height: 3392px;
    width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .places {
        height: 3392px;
        width: 984px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .places {
        height: 2808px;
        width: 720px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .places {
        height: 5177px;
        width: 320px;
        margin-bottom: 66px;
    }
}

