.places {
    width: 984px;
    margin: 0 auto 92px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .places {
        width: 984px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .places {
        width: 720px;
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .places {
        width: 320px;
        margin-bottom: 66px;
        margin-left: 16px;
    }
}

