.cover__subtitle {
    width: 360px;
    color: white;
    font-size: 18px;
    line-height: 22px;
    z-index: 2;
    margin: 0;
    font-weight: normal;  
      
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 16px;
    }
}