.cover__subtitle {
    width: 360px;
    height: 66px;
    color: white;
    size: 18px;
    line-height: 22px;
    z-index: 1;
    margin: 0;
    font-weight: normal;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .cover__subtitle {
        width: 288px;
        height: 48;
        font-size: 14px;
        line-height: 16px;;
    }
}