.header__logo {
  height: 52px;
  width: 176px;
}
 
@media screen and (max-width: 767px) and (min-width: 320px) {
    .header__logo {
        width: 142px;
        height: 42px;
        margin-top: 16px;
    }
}