.header {
    width: 1184px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 28px;
    align-items: flex-end;
    color: white;
}


@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .header {
        width: 928px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .header {
        width: 720px;
        margin-left: 16px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .header {
        width: 288px;
        padding-top: 16px;
    }
}
