.header__link {
    color: white;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
}

.header__link:first-of-type {
    margin-right: 18px;
}

.header__link:last-of-type {
    text-decoration: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .header__link {
        margin-left: 24px;
    }
}

  
@media screen and (max-width: 767px) and (min-width: 320px) {
    .header__link {
        width: 142px;
        margin-top: 16px;
        font-size: 18px;
        line-height: 20px;
    
    }
}