.header__link {
    color: white;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    margin-right: 18px;
    text-decoration: none;
}

.header__link:last-of-type {
    margin-right: 0px;
}


@media screen and (max-width: 767px) and (min-width: 320px) {
    .header__link {
        width: 142px;
        margin-top: 16px;
        font-size: 18px;
        line-height: 20px;
    }
}