.intro__text {
    width: 690px;
    color: white;
    font-size: 16px;
    line-height: 26.08px;
    margin-top: 40px;
    font-weight: normal;
    font-style:normal;
    margin-bottom: 33px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .intro__text {
        width: 720px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .intro__text {
        width: 100%;
        margin-bottom: 34px;
    }
}