.intro {
    display: flex;
    flex-direction: column;
    max-width: 984px;
    margin: 92px auto 0;
    padding-bottom: 92px;
}

@media screen and (min-width: 1920px) {
  .intro {
     margin-left: 460px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    padding: 0 48px 92px 48px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    padding: 0 24px 88px 24px;
    margin-top: 56px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .intro {
    padding: 0 16px 64px 12px;
    margin-top: 64px;
  }
}

