.lead__subtitle {
  color: white;
  font-size: 30px;
  font-weight: normal;
  width: 640px;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 64px;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .lead__subtitle {
      width: 288px;
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 40px;
    }
  }

