.cover {
    margin:0 auto 92px;
    width: 1184px;
    min-height: 740px;
    position: relative;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .cover {
        width: 1024px;
        min-height: 640px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .cover {
        width: 100vw;
        height: 62.5vw;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .cover {
        width: 100vw;
        height: 62.5vw;
        min-height: 200px;
        margin-bottom: 64px;
    }
}