.cover__overlay_hover:before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: url(https://stampsy.com/na-elektrichkakh-do-baikala);
    background: #2A2C2F;
    opacity: 30%;
  }

.cover__overlay_hover:hover:before {
    opacity: 80%;
  }
}
