.lead__caption {
    text-transform: uppercase;
    color: white;
    align-self: flex-start;
    line-height: 14px;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 10px;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}
