.cover__title {
    width: 560px;
    font-size: 72px;
    line-height: 76px;
    margin:0 0 32px;
    font-weight: 900;
    color: white;
    z-index: 1;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .cover__title {
        width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-bottom: 16px;
    }
}