.place {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(460px, 1fr));
    grid-template-rows: 1fr;
    gap: 48px 40px;
    margin-bottom: 80px;
    
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .place {
        grid-template-columns: 440px 1fr;
        gap: 48px 32px;
        
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .place {
        grid-template-columns: 340px 1fr;
        gap: 48px 28px;
        margin-bottom: 72px;
        
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .place {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 32px;
        margin-bottom: 50px;
        width: 100%;
    }
}