.place__url-heading {
    color: #AAAAAA;
    font-size: 12px;
    line-height: 12px;
    margin: 0px;
    font-weight: normal;
    margin-bottom: 12px;
}



@media screen and (max-width: 1023px) and (min-width: 768px) {
    .place__url-heading {
        width: 352px;
        height: 12px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .place__url-heading {
        width: 288px;
        height: 12px;
    }
}