.intro__title {
    width: 690px;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color:white;
    margin: 0;
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
    .intro__title {
        width: 720px;
    }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
        width: 288px;
    }
}